<mat-drawer-container class="example-container"  [hasBackdrop]="false">

  <mat-drawer class="reactToBreakpoint" #drawer mode="side" position="start">

    <app-side-views></app-side-views>



    <mat-accordion class="example-headers-align" multi>

    </mat-accordion>









  </mat-drawer>


  <mat-drawer-content>
    <div #map class="map"></div>

    
    <button  class="reactToBreakpoint btnDrawer"   (click)="toggleClicked(drawer.toggle())">
      <mat-icon *ngIf="!drawer.opened">chevron_right</mat-icon>
      <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
    </button>
  </mat-drawer-content>


</mat-drawer-container>