@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

.sidenav-container {
  height: 100%;

}

.mainToolbar {
  background: linear-gradient(90deg, #161111 0%, #440979bf 60%, #00d7e1 100%) !important;

}

.sidenav {
  width: 90%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


@media screen and (min-width: 1400px) {
  .reactToBreakpoint.btnDrawer {
    display: none;
  }

  //:host ::ng-deep{    mat-drawer.reactToBreakpoint{  display: none;    }}
}



.logoTextClass {
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  text-align: center;
  color: #f9f9f9;
  text-shadow: 2px 2px 0px #fff, 4px 4px 0px hsl(0, 0%, 0%), 6px 6px 0px #ff80bfb0, 8px 8px 0px #ef5097a3;

}

/*

 text-shadow: 2px 2px 0px #100c06,
    4px 4px 0px #645b3f,
    6px 6px 0px #161214;

*/
@media screen and (max-width:900px) {
  .logoTextClass {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:700px) {
  .logoTextClass {
    font-size: 0.8rem;
    text-shadow: 1px 1px 0px #FFB650,
      2px 2px 0px #FFD662,
      3px 3px 0px #FF80BF,
      4px 4px 0px #EF5097,
      5px 5px 0px #6868AC,
      6px 6px 0px #90B1E0;
  }



}