<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport role='dialog' mode="over" opened=false>
    <mat-toolbar>Menu</mat-toolbar>
    <app-side-views></app-side-views>
  </mat-sidenav>

  <mat-sidenav-content #sidenavContent>
    <mat-toolbar class="mainToolbar" color="primary">

      <button mat-icon-button color="accent" class="reactToBreakpoint btnDrawer" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>  
       <span class="logoTextClass">Smart Neighbourhood Pofile</span>
      
    </mat-toolbar>
    
   
     

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>