.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 90%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


@media screen and (min-width: 1400px) {
  .reactToBreakpoint.btnDrawer{
       display: none;
   }
     
//:host ::ng-deep{    mat-drawer.reactToBreakpoint{  display: none;    }}
 }