<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            settings
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>settings</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>


<app-show-what-setting></app-show-what-setting>
   


</mat-expansion-panel>
<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            regions
        </mat-panel-title>
        <mat-panel-description>
            <mat-icon>subtitles</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <app-region-tree></app-region-tree>


</mat-expansion-panel>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        chart population
      </mat-panel-title>
      <mat-panel-description>

        Type your name and age
        <mat-icon>account_circle</mat-icon>

      </mat-panel-description>
    </mat-expansion-panel-header>


    <app-chart></app-chart>


  </mat-expansion-panel>


  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        density
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-chart2></app-chart2>

  </mat-expansion-panel>