<p>mainmap works!</p>

<div #map class="map"></div>
<button (click)="btnTestClicked()">test</button>

<button (click)="DrawCluster_FLOOR_SPACE_M2()">DrawCluster_FLOOR_SPACE_M2</button>
<button (click)="DrawCluster_INHABITANTS()">DrawCluster_INHABITANTS </button>


<button (click)="btnTestBuildingClicked()">Building</button>


<button (click)="btnPointsClicked()"> Add Points</button>
<button (click)="btnGliflyPolyClicked()">polygons</button>

<button (click)="btnGeojsonFlatten()">geojsonFlatten</button>

 